*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark div p{
    color: white;
}
.cont p{
    display: flex;
    margin: auto;
    align-items: center;
    font-size: xx-large;
    padding: 3%;
}

.brand p{
    display: flex;
    margin: auto;
    font-size: xx-large;
    justify-content: center;
    padding: 3% 0px;

}
.dark .brand{
    color: white;
}