*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  background: #f0f2f6;
}

.container.dark{
  background: #0a0a0a;
}